body {
    margin: 0;
    font-family: sofia pro;
}

header {
    background-color: #e6e6e6;
    width: 100%;
    position: fixed;
    top: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
}

 .logo {
    width: 100px;
    margin: 0;
}

.search, .bars {
    margin-left: 20px;
    font-size: 25px;
}

#myLinks {
    background-color: white;
    display: none;
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav a {
    padding: 20px;
    border-bottom: 2px #e6e6e6 solid;
    color: black;
}

.nav a:active {
    background-color: #e6e6e6;
}

a {
    text-decoration: none;
    color: black;
}

main {
    margin-top: 96px;
}

.sec-1 {
    background-color: #870aa0;
    color: white;
    padding: 20px;
}

.sec-1 a {
    color: white;
}

.sec-1 a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: 500;
    font-size: 30px;
}

h2 {
    font-weight: 200;
    font-size: 22px;
}

h3 {
    font-weight: 100;
    font-size: 18px;
}

.steps {
    width: 100%;
}

.whatmore {
    background-color: #00F0AF;
    /* background-image: url("grafiska-element/plus-backgrund-03.svg");
    background-repeat: no-repeat; */
    display: flex;
}

.moreplus {
    width: 50%;
}

.prenumerera {
    background-color: #AAE6FF;
    text-align: center;
}

.contacts {
    background-color: #2819ff;
    color: white;
    display: flex;
    flex-direction: column;
}

.contactsItems {
    display: flex;
    flex-direction: column;
}

.contacts a {
    color: white;
    margin-bottom: 20px;
}

footer {
    margin: auto;
    display: flex;
    justify-content: space-around;
}

footer .fab {
    font-size: 50px;
    margin: 10px;
}