body {
    margin: 0;
    font-family: sofia pro;
}

header {
    background-color: #e6e6e6;
    width: 100%;

    position: fixed;
    top: 0;

}

.headerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
}

 .logo {
    width: 100px;
    margin: 0;
}

.mobile-none {
    display: none;
}

.search, .bars {
    margin-left: 20px;
    font-size: 25px;
}

#searchArea:hover {
    cursor: pointer;
}

#searchInput {
    border: none;
    padding: 5px 10px 5px 10px;
    font-family: sofia pro;
    font-size: 1.1em;
    display: none;
}

#myLinks {
    background-color: white;
    display: none;
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav a {
    padding: 20px;
    border-bottom: 2px #e6e6e6 solid;
    color: black;
}

.nav a:after {
    content: "";
    background-image:url(images/linkpilsvart.png);
    background-size: 100% 100%;
    display: inline-block;

    margin-left: 5px;

    width: 12px;
    height: 10px;
}

.nav a:active {
    background-color: #e6e6e6;
}

.fa-globe-europe, .fa-lock {
    margin-left: 5px;
}

a {
    text-decoration: none;
    color: black;
}

nav div a:hover {
    text-decoration: underline;
    /* padding-left: 2%; */
}

main {
    margin-top: 96px;
    width: 100%;
}

section {
    padding: 20px;
}

main section a:hover {
    text-decoration: underline;
}

.firstOfferSection {
    background-color: #870aa0;
}

.firstOfferSection a {
    color: white;
}

h1 {
    font-weight: 500;
    font-size: 24px;
}

h2 {
    font-weight: 200;
    font-size: 22px;
}

h3 {
    font-weight: 100;
    font-size: 18px;
}

.negativeMargin20 {
    display: block;
    margin-bottom: -20px;
    margin-left: 45%;
    width: 45%;
}

.img-of-people {
    background-image: url(images/peopole2.png);
    background-size: cover;
    padding: 50px;

}

.img-of-people h1 {
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    margin: 20% 7% 7% 7%;
    display: inline-block;
    padding: 30px 70px 20px 30px;
}

.more-about-almi {
    background-color: #e6e6e6;
}

.medalImg {
    width: 200px;
}

.secondOfferSection {
    background-color: #e6e6e6;
    text-align: center;
}

#sendForm {
    display: flex;
    flex-direction: column;
}

.ctaBtn {
    background-color: #870aa0;
    color: white;
    border: none;
    padding: 15px 35px 15px 35px;
    font-family: sofia pro;
    font-size: 1.5em;
}

.textInput {
    border: none;
    padding: 20px 35px 17px 35px;
    font-family: sofia pro;
    font-size: 1.2em;
}

.steps {
    text-align: center;
}

.stepsimg {
    width: 100%;
}

.stepImg {
    width: 150px;
}

.whatmore {
    background-color: #00F0AF;
}

.moreplus {
    width: 45%;
    margin-left: -10%;
}

.prenumerera {
    background-color: #AAE6FF;
    text-align: center;
}

footer {
    background-color: #2819ff;
}

.contacts {
    color: white;
    display: flex;
    flex-direction: column;
}

.contactsItem {
    display: flex;
    flex-direction: column;
}

.contacts a {
    color: white;
    margin-bottom: 20px;
}

.contacts a:after {
    content: "";
    background-image:url(images/linkpilvitleft.png);
    background-size: 100% 100%;
    display: inline-block;

    margin-left: 5px;
  
    width: 10px;
    height: 12px;
}

.contacts a:hover {
    text-decoration: underline;
}

.socialMedia {
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

footer .fab {
    font-size: 40px;
    margin: 10px;
}

@media only screen and (min-width: 535px) {
    .prenumereraForm {
        display: flex;
        justify-content: center;
    }
    
    .formDisplayBlock {
        display: block;
    }
}


@media only screen and (min-width: 822px) {

    .mobile-none {
        display: inline-block;
    }

    .deskop-none {
        display: none;
    }

    .header-btns-container {
        width: 500px;
        display: flex;
        justify-content: space-between;
    }

    #myLinks {
        display: block;
    }

    .nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav a {
        border-bottom: none;
    }

    main {
        margin-top: 158px;
    }

    .sectionWidth {
        width: 600px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .moreplus {
        margin-left: -35px;
    }

    .articleFlex {
        display: flex;
        align-items: flex-start;
        text-align: left;
        justify-content: space-between;
        margin-top: 50px;
    }

    .articleImgMargin {
        margin-right: 60px;
    }

    .articleHeadingMarginTop {
        margin-top: 0;
    }

}

@media only screen and (min-width: 960px) {

    .headerFlex {
        padding: 20px 40px 20px 40px;
    }

    .nav {
        padding-left: 40px;
        padding-right: 40px;
    }

    .nav a {
        padding: 20px 0px 20px 0px;
    }

    section {
        padding-left: 40px;
        padding-right: 40px;
    }

    .deskopWidth {
        width: 80%;
        margin: auto;
    }

    .contacts {
        width: 60%;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    }

}